html, body {
    height: 100%;
    background-image: linear-gradient(45deg, rgb(104, 16, 16), orange);
}

p {
    color: white;
    font-size: large;
}

img {
    margin: 5%;
    width: 30%;
    height: 30%;
}